Source: bmad
Maintainer: Geoff Franks <geoff.franks@gmail.com>
Section: misc
Priority: optional
Homepage: http://github.com/geofffranks/bmad
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8),
               dh-golang,
               golang-getopt-dev,
               golang-gocov,
               golang-gocov-html,
               golang-goyaml-dev,
               golang-mangodoc,
               golang-profile-dev,
               golang-shellwords-dev,
               golang-stretchr-objx-dev,
               golang-stretchr-testify-dev,
               golang-go

Package: bmad
Description: bolo monitoring analytics daemon
 The bolo monitoring analytics daemon is used for running monitoring and
 analytics checks, submitting the results up to a bolo server.
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
