#!/usr/bin/make -f

export DH_OPTIONS

export DH_GOPKG := github.com/geofffranks/bmad
export GO_ROOT := /usr/share/gocode/
export DH_GOLANG_INSTALL_ALL := 1

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_install:
	dh_install -O--buildsystem=golang
	make docs
	dh_installman
